[Unit]
Description=Check calendar and join/quit Jitsi room
After=graphical-session.target
Wants=graphical-session.target

[Timer]
Unit=jitsi-room-joiner.service
OnBootSec=2min
OnUnitActiveSec=60
AccuracySec=5s

[Install]
WantedBy=graphical-session.target