[Unit]
Description=Join/quit Jitsi room based on current calendar event
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/JitsiRoomJoiner/.env
WorkingDirectory=/etc/JitsiRoomJoiner
ExecStart=/etc/JitsiRoomJoiner/.venv/bin/python3 /etc/JitsiRoomJoiner/jitsiRoomJoiner.py
Nice=5

[Install]
WantedBy=multi-user.target
