[Unit]
Description=Trigger jitsi-calendar.service after session start
After=graphical-session.target
Wants=graphical-session.target

[Timer]
Unit=jitsi-calendar.service
OnBootSec=2min
OnUnitActiveSec=60
AccuracySec=1s
Persistent=true

[Install]
WantedBy=graphical-session.target default.target
